body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    background-color: #f4f6f9;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    width: 15rem;
    background: linear-gradient(160deg, #0dcaf0 0%, #0d6efd 100%);
    box-shadow: 4px 0 10px rgba(13, 110, 253, 0.1);
}

#sidebar-wrapper .sidebar-heading {
    padding: 1.2rem 1.25rem;
    font-size: 1.3rem;
    font-weight: bold;
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#page-content-wrapper {
    width: 100%;
}

body.toggled #sidebar-wrapper {
    margin-left: 0;
}

.list-group-item {
    color: rgba(255, 255, 255, 0.9) !important;
    border: none;
    font-size: 0.95rem;
    padding: 1rem 1.25rem;
}

.list-group-item.active {
    background-color: rgba(255, 255, 255, 0.2) !important;
    color: #fff !important;
    font-weight: bold;
    border-left: 5px solid #fff;
    border-radius: 0 25px 25px 0;
    margin-right: 10px;
    backdrop-filter: blur(5px);
}

.list-group-item:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
    color: #fff !important;
    cursor: pointer;
    transition: all 0.3s;
    padding-left: 1.5rem;
}

.primary-text { color: #0d6efd; }
.secondary-bg { background-color: #d1e7dd; }

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }

    #page-content-wrapper {
        width: 100%;
    }

    body.toggled #sidebar-wrapper {
        margin-left: -15rem;
    }
}